.programs {
  margin: 80px auto;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.program {
  flex-basis: 31%;
  border-radius: 10px;
  overflow: hidden;
  position: relative; /* important for absolute positioning of .caption */
}

.program img {
  width: 100%;
  border-radius: 10px;
  display: block;
  object-fit: cover;
}

.caption {
  border-radius: 10px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 15, 152, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #fff;
  opacity: 0;
  transition: 0.4s ease;
  cursor: pointer;
}

.program:hover .caption {
  opacity: 1;
}

.caption img {
  width: 60px;
  margin-bottom: 10px;
}

@media (max-width:650px){
  .program{
    flex-direction:column;
  }
  .program{
    flex-basis:100%;
    margin:20px;
  }
}

